* {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 900px;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider li img {
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .slider img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
